body {
  font-family: sans-serif;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  font: Helvetica;
  font-size: 30px;
}
.x {
  background-color: #7cfc00;
  content: "x";
}
.o {
  background-color: #fa8072;
  content: "o";
}
